<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice | Client</title>
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/datatable/datatable.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/client.css">
</head>

<body>

    <div class="wrapper">
        <div class="container-xxl">
            <div class="mt-4 w-100 d-flex justify-content-between align-items-center">
                <a href="/" class="modal-open-button py-2 px-5">Go back</a>
                <a href="/employee/logout" class="delete-anchor py-2 px-5">Logout</a>
            </div>

            <div class="table-responsive my-5">
                <table id="invoiceTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Invoice Id</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Payment Date</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% invoice.forEach((i)=>{ %>
                        <tr>
                            <td><%=i.id%></td>
                            <td><%=i.amount%></td>
                            <td><%=i.date%></td>

                            <% if(i.ispaid){ %>
                            <td>paid</td>
                            <% }else if(i.iscanceled){ %>
                            <td>canceled</td>
                            <% }else{ %>
                            <td>not paid</td>
                            <% } %>

                            <% if(i.ispaid){ %>
                            <td><%=i.paidon%></td>
                            <% }else if(i.iscanceled){ %>
                            <td>canceled</td>
                            <% }else{ %>
                            <td>not paid</td>
                            <% } %>
                            <td><a href="/<%=i.id%>/viewinvoice" class="view-profile-anchor">View</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <script src="/js/script.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/datatable/datatable.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            new DataTable('#invoiceTable');
        })
    </script>
</body>

</html>