<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee | Admin</title>
    <link rel="shortcut icon" href="/image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatable/datatable.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div class="wrapper">
        <div class="content">
            <div class="container-xxl">
                <div class="header-container">
                    <p class="header">Employee</p>
                </div>
                <ul class="mt-4 list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Name</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.name%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Username</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.username%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Employee Id</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.id%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Contact Number</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.contactNumber%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Designation</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.designation%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Working ( hr )</li>
                    <li class="list-group-item w-60 py-3 rounded-0"><%=employee.workingHour%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Payment ( hr )</li>
                    <li class="list-group-item w-60 py-3 rounded-0">₹ <%=employee.payPerHour%></li>
                </ul>
                <ul class="list-group list-group-horizontal w-100 rounded-0">
                    <li class="list-group-item w-40 py-3 rounded-0 d-flex align-items-center">Remarks</li>
                    <li class="list-group-item w-60 py-3 rounded-0">
                        <% if(employee.remarks.length > 0){ %>
                        <% employee.remarks.forEach((i)=>{ %>
                        <ul>
                            <li><%= i %></li>
                        </ul>
                        <% }) %>
                        <% }else{ %>
                        no remarks
                        <% } %>
                    </li>
                </ul>
                <div class="my-4 w-100 d-flex flex-column gap-3 flex-sm-row align-items-center justify-content-between">
                    <button type="button" class="modal-open-button" data-bs-toggle="modal" data-bs-target="#editEmployeeModal">Edit Profile</button>
                    <button type="button" class="modal-open-button" data-bs-toggle="modal" data-bs-target="#salaryAddModal">Add Salary</button>
                    <button type="button" class="modal-open-button" data-bs-toggle="modal" data-bs-target="#salaryDistributeModal">Distribute Salary</button>
                    <button type="button" class="modal-open-button" data-bs-toggle="modal" data-bs-target="#salaryModal">View Salary</button>
                </div>
                <div class="my-4 w-100 overflow-x-scroll">
                    <table id="worksTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>SL.No</th>
                                <th>Client</th>
                                <th>Subject</th>
                                <th>Urgency</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% work.forEach((i, index)=>{ %>
                            <tr>
                                <td><%=index+1%></td>
                                <td><%=i.client.name%></td>
                                <td><%=i.subject%></td>
                                <td><%=i.urgency%></td>
                                <td><%=i.date%></td>
                                <td><%=i.status%></td>
                                <td>
                                    <a href="/admin/works/<%=i.id%>/view" class="view-profile-anchor">View</a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Employee Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/employee/<%=employee.id%>/edit" method="post" class="w-100">
                        <div class="row w-100 gx-0 gy-3 m-0 p-0">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required readonly value="<%=employee.name%>">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="contactNumber" placeholder="Contact Number" required value="<%=employee.contactNumber%>">
                                    <label>Contact Number</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="designation" placeholder="Designation" required value="<%=employee.designation%>">
                                    <label>Designation</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="workingHour" placeholder="Woring Hours" required value="<%=employee.workingHour%>">
                                    <label>Working Hours</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="payPerHour" placeholder="Payment" required value="<%=employee.payPerHour%>">
                                    <label>Payment ( hr )</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="remarks" placeholder="Remark">
                                    <label>Remark</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="password" placeholder="Password" required>
                                    <label>Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 w-100 d-flex align-items-center justify-content-end gap-3">
                            <button type="button" class="modal-close-button" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="modal-save-button">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="salaryAddModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add Salary</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/employee/<%=employee.id%>/addsalary" method="post" class="w-100">
                        <div class="row w-100 gx-0 gy-3 m-0 p-0">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required readonly value="<%=employee.name%>">
                                    <label>Employee</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="salary" placeholder="salary" required>
                                    <label>Note</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="amount" placeholder="Amount" required>
                                    <label>Amount</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 w-100 d-flex align-items-center justify-content-end gap-3">
                            <button type="button" class="modal-close-button" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="modal-save-button">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="salaryDistributeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Distribute Salary</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/employee/<%=employee.id%>/distributesalary" method="post" class="w-100">
                        <div class="row w-100 gx-0 gy-3 m-0 p-0">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required readonly value="<%=employee.name%>">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select class="form-select" name="salary" required>
                                        <option value="" selected>select</option>
                                        <% unpaidSalary.forEach((i)=>{ %>
                                        <option value="<%=i.id%>-<%=i.salary%>"><%=i.salary%></option>
                                        <% }) %>
                                    </select>
                                    <label>Salary</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="date" class="form-control" name="date" placeholder="Date" required>
                                    <label>Date</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 w-100 d-flex align-items-center justify-content-end gap-3">
                            <button type="button" class="modal-close-button" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="modal-save-button">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="salaryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Salary</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-4 w-100 overflow-x-scroll">
                        <table id="salaryTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Salary</th>
                                    <th>Amount</th>
                                    <th>Payment Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% employee.salary.forEach((i) => { %>
                                <tr>
                                    <td><%= i.salary %></td>
                                    <td><%= i.amount ? i.amount : "not paid" %></td>
                                    <td><%= i.paymentDate ? i.paymentDate : "not paid" %></td>
                                </tr>
                                <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-close-button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/adminNavbar.js"></script>
    <script src="/js/script.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/datatable/datatable.js"></script>
    <script src="/datatable/datatable.bootstrap.js"></script>
    <script>
        let navActive = document.querySelectorAll('.admin-employee')
        navActive.forEach((i) => {
            i.classList.add('active')
        })
        document.addEventListener("DOMContentLoaded", () => {
            new DataTable('#salaryTable');
        })
    </script>
</body>

</html>